@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-image-gallery/styles/scss/image-gallery.scss";

@import "./custom-bootstrap.scss";
@import "./custom-variables.scss";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: $page-background-color;
}

.image-gallery {
  width: 100%;
  height: auto;
}

.image-gallery-slide img {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

.fullscreen .image-gallery-slide img {
  max-height: 100vh;
}