.imgFullScreen {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  &.solidBg {
    background-color: gray;
  }

  &.mainBg {
    background-image: url('../../assets/images/bg_trees_1_web.jpg');
  }

  &.blogBg {
    background-image: url('../../assets/images/blog_mountains_1_web.jpg');
  }
}

.mainContent {
  margin-top: $nav-height;
  margin-bottom: $footer-height;
  padding: 1rem 0 1rem 0;
  background-color: $page-background-color;
}