.footerShell {
  position: fixed;
  bottom: 0;
  background-color: $light;
  border-top: 1px solid $gray-800;
  height: $footer-height;
  width: 100%;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}