.navbarShell {
  padding: 0;
  min-height: $nav-height;
  background-color: $light;
}

.navbarBrand {
  display: flex;
  align-items: center;
  min-height: $nav-height;
  font-size: $h3-font-size;
  padding: 0;
}

.navbarBrandInner {
  font-size: $h5-font-size;
}