.photoAlbum {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-height: calc(100vh - 20px);
  overflow: hidden;
}

.selectedImage {
  flex: 1;
  margin-right: 10px;
  overflow: hidden;
}

.selectedImage img {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
  max-height: calc(100vh - 20px);
}

.imageList {
  max-width: 200px;
  overflow-y: auto;
  max-height: calc(100vh - 20px);
}

.imageList img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  cursor: pointer;
}

.imageList img:last-child {
  margin-bottom: 0;
}

.active {
  border: 2px solid #333;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal img {
  max-height: 80vh;
  max-width: 80vw;
  object-fit: contain;
  cursor: pointer;
}

.modalButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.modalButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.modalButtonClose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.modalButtonClose:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
