.albumPageShell {
  justify-content: center;
}

.albumPage {
  background-color: $light;
  padding: 1rem;
  border-radius: .375rem;
}

.footerButtonShell {
  display: flex;
  justify-content: flex-end;
}