.postPage {
  background-color: $light;
  padding: 1rem;
  border-radius: .375rem;
}

.postHeader {
  h1 {
    font-size: 1.25rem;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
  }

  p {
    font-size: 1rem;
  }
  
  margin-bottom: 1.5rem;
}

.postBody {
  h2 {
    font-size: 1rem;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
    line-height: 1.5rem;
  }

  section, p {
    font-size: 1rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  a {
    text-decoration: underline;
    color: $gray-700
  }

  margin-bottom: 1rem;
}

.postPreviewRow {
  justify-content: center;
}

.footerButtonShell {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
